body {
  background-color: #e7e7e7;
  margin: 0;
  box-sizing: border-box;
}
p,
#showAll, 
#genderHTML p,
#typeBikeHTML p {
  cursor: pointer;
}
.hoverP p:hover,
#showAll:hover,
#genderHTML p:hover,
#typeBikeHTML p:hover {
  color: orange!important;
}
#showAll span:hover,
#genderHTML p span:hover,
#typeBikeHTML p span:hover {
  background-color: orange;
}
.clickedFilter {
  color: orange!important;
  font-size: 20px!important;
  font-weight: 600;
}
.badgeClass {
  background-color: orange;
  color: gray;
}
.nav-item:hover {
  background-color: rgb(206, 198, 198);
  color: orange;
}
.nav-link:hover {
  color: orange!important;
}
form button:hover {
  color: orange!important;
}
.card:hover {
  border: 3px solid orange;
}
/*use color:orange for the orange color*/
/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/
/*use color:grey for the social-share icons on hover*/
