body {
    background-image: linear-gradient(
            rgba(62, 16, 16, 0.5),
            rgba(62, 16, 16, 0.5)
        ),
        url("./images/coffetexture.jpg");
}

nav,
footer {
    background-color: rgba(62, 16, 16, 0.75);
}

#coffee-shop {
    width: 55vw;
    position: relative;
    right: 0;
    left: 35vw;
    margin-top: 5vh;
    margin-right: 30vw;
    background-image: url("./images/cafe.jpg");
    height: 100vh;
    background-size: cover;
}
#coffee-shop-text-box-outer {
    position: absolute;
    top: 60vh;
    left: 20vw;
    width: 25vw;
    z-index: 10;
}
#coffee-shop-text-box-inner {
    opacity: 0.75;
}
#coffee-shop-text-box-btn {
    position: relative;
    top: -20px;
}

#main {
    padding-top: 50px;
    padding-bottom: 100px;
}

