body {
  box-sizing: border-box;
  margin: 0;
  background-color: none!important;
}
.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./smetki/slayer-all.gif");
  background-repeat: no-repeat;
  background-position: top;

  background-size: cover;
  height: 100vh
}
.bg-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./smetki/banner_jeger2.jpg");
  background-repeat: no-repeat;
  background-position: top;

  background-size: cover;
  height: 100vh
}
.pointer-arrow {
  transform: rotate(90deg)!important;
}
.king-style {
  font-family: 'Kings', cursive;
  font-size: 35px;
}
.king-btn {
  font-family: 'Kings', cursive;
  font-size: 20px;
  font-weight: 400;
}
.navbar-dark,
.bg-dark,
.shadow-5-strong {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.21)!important;
  background-color:rgba(90, 90, 90, 0.6);
} 
.background-white {
  background-color: white;
   opacity: 0.5;
}
.loader {
  height: 400px;
  width: 500px;
  position: absolute !important;
  z-index: 3 !important;
  top: 50%;
  right: 15%;
  transform: translate(-50%, -50%);
  
  
}
.box-shadow {
  box-shadow: 0 10px 10px 0 rgba(121, 117, 114, 0.959)!important; 
}
.card {
  border-radius: 1rem !important;
  border: none !important;
  display: inline-block;
  width: 100% !important;
  transition: 1.5s ease;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(109, 94, 7, 0.863);
}
.card-img-top {
  width: 100%;
  height: 200px !important;
}
.card-body {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}
.card-body p {
  overflow: auto !important;
  overflow-y: scroll !important;
  height: 100px;
}
.card-body .close {
  background-color: #dc3545!important;;
  color: #fff!important;
border-color: #dc3545!important;
  opacity: 1!important;
  display: inline-block!important;
  font-weight: 300!important;
  text-align: center!important;
  vertical-align: middle!important;
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
  padding: 0.375rem 0.75rem!important;
  font-size: 1rem!important;
  line-height: 1.5!important;
  border-radius: 0.25rem!important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}
form {
    display: inline-block!important;
}
.bg-image3 {
  height: 100%;
  width: 100%;
  position: absolute !important;
  z-index: 2 !important;
  background-color: rgba(247, 243, 233, 0.932);
  opacity: 0.95;
    box-sizing: border-box;
  margin: 0;
  right: 0;
  left: 0;
  
}
