<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="" alt="" srcset="">

    <form method="POST" action="{{ route('users.update', Auth::user()->id) }}" enctype="multipart/form-data" novalidate>
        <div class="row">
            @csrf
            @method('PUT')
            <div class="col-6">
                <h1>My profile</h1>
                <div class="row">
                    <div class="col-6 text-center pb-5">
                        <div class="mb-4 form-group">
                        <label for="upload">
                                <span aria-hidden="true">
                                    <img src="{{Auth::user()->getUserAvatar()}}" class="rounded-circle border-rounded-circle" style="width:150px !important; height:150px !important" /> 
                                    <p>Click here to upload image</p> 
                                </span>              
                                <input type="file" id="upload" style="display:none" name="user_picture" accept="image/png, image/jpeg, image/jpg">
                          </label>
                        </div>
                    </div>
                    <div class="col-6">
                                <input id="name" type="text" name="name" value="{{ old('name', auth::user()->name) }}" autofocus
                            class="input-register form-control @error('name') is-invalid @enderror" />
                        @error('name')
                            <small class="text-danger invalid-feedback">{{ $message }}</small>
                        @enderror

                        <input id="surname" type="text" name="surname" value="{{ old('surname', auth::user()->surname) }}"
                            class="input-register form-control @error('surname') is-invalid @enderror" autofocus />
                        @error('surname')
                            <small class="text-danger invalid-feedback">{{ $message }}</small>
                        @enderror
                        <input id="email" type="email" name="email" value="{{ old('email', auth::user()->email) }}"
                            class="input-register form-control @error('email') is-invalid @enderror"/>
                        @error('email')
                            <small class="text-danger invalid-feedback">{{ $message }}</small>
                        @enderror  
                    </div>
                    <div class="col-12">
                        <div class="form-group text-muted">
                            <label>Biography</label>
                            <textarea name="biography" class="form-control text-left @error('biography') is-invalid @enderror"
                                rows="8">{{ Auth::user()->biography }}</textarea>
                            @error('biography')
                                <small class="text-danger ivalid-feedback">{{ $message }}</small>
                            @enderror
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h1>Skills</h1>
                        <div class="form-group skills-checkboxes @error('skills') is-invalid @enderror form-check" id="skills">
                            @foreach ($skills as $skill)
                            <label><input type="checkbox" name="skills[]" value="{{ $skill->id }}" @if (in_array($skill->id, Auth::user()->skills()->pluck('skill_user.skill_id')->toArray())) checked @endif> {{ $skill->name }}</label>
                            @endforeach
                        </div>
                        @error('skills')
                        <div class="invalid-feedback">
                            {{ $message }}
                        </div>
                        @enderror    
                    </div>
                    <div class="col-12">
                        <h1>Academies</h1>
                        <div class="form-group @error('academy') is-invalid @enderror form-check">
                            @foreach ($academies as $academy)
                            <label><input type="checkbox" name="academy[]" value="{{ $academy->id }}" @if ($academy->id == Auth::user()->academy_id) checked @endif id="academy{{$academy->id}}">{{ $academy->name }}</label>
                            @endforeach
                        </div>
                        @error('academy')
                        <div class="invalid-feedback">
                            {{ $message }}
                        </div>
                        @enderror
                    </div>
                </div>

            </div>
            <div class="col-12 text-right">
                <button class="btn btn-lg btn-success px-5">
                    Edit
                </button>
            </div>

        </div>
    </form>
</body>
</html>