body {
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
#race {
	text-align: center;
	background-color: #242021;
	box-sizing: border-box;
}

h1, h2, h3 {
	color: 	#fffbfb;
}

h3 { font-size: 25px; }

h2 { font-size: 35px; }

h1 { font-size: 50px; }
#results,
.car1Results,
.car2Results {
	display: none;
}
img {
height: 35vh;
}
.font-results {
	font-size: 20px;
}
.car1, .car2 {
	position: absolute;
    z-index: 2;
    flex-grow: 1;
    left: 0px;
    flex-shrink: 2;
	
}
.car1  {
	top: -80px;
}
.car2 {
	top: 80px;
}
#countDownFlag {
	font-size: 200px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 25%;
	z-index: 4;
    color: white;
}
