body {
    padding-top: -56px;
}
.border_left {
    border-left: 3px solid whitesmoke;
}
.bg-image-about {
    background-image: url("../images/image1.jpg");
    height: calc(70vh - 56px);
}
.bg-red {
    background-color: red!important;
}
.hr_border_top {
   border-top: 1.5px solid rgba(46,46,46,255);
   background-color: rgba(46,46,46,255);
}
.background_black {
    background-color: black;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
}
.parallax-bg-image1 {
    background-image: url("../images/lights.jpg");
}
.bg-image1 {
    background-image: url("../images/image1.jpg");
}
.bg-image2 {
    background-image: url("../images/image2.jpg"); 
}
.bg-image3 {
    background-image: url("../images/image3.jpg");
}
.bg-top-repeat-size-80vh {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.bg-image-modal-video {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/media.jpg");
}
.bg-center-top-fixed {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
.background_black {
    background-color: black;
}
.positon_image_about {
    position: relative;
    top: -60px
}
.carousel-indicators li {
    width: 20px!important;
    border: 0.2px solid white!important;
    border-radius: 2px;
}