header {
    height: 50vh;
}
header .up {
    height: 90%;
}
header .title {
    font-size: 25px;
    padding-bottom: 1vw;
}
header .bg-light {
    background: transparent !important;
}
.border-card {
     border-top: 0;
     border-left: 0;
     border-right: 0;
}

.header-height {
    height: 70vh;
}

header h4 {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
}
header h1 {
    font-size: 4em;
    font-weight: bold;
    padding-bottom: 1vw;
}

main .card {
    cursor: pointer;
}

main p {
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.7);
}

main form .form-control {
    border: 0;
    padding: 2em 0;
}

main form .form-control:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

main .btn {
    border-radius: 0 !important;
}

.font-awesome i {
    cursor: pointer;
}
.active {
    color: white !important;
}
header nav ul li {
    text-transform: uppercase;
    font-weight: bolder;
}
