body {
    padding-top: 56px;
}
.btn:hover {
    background-color: white !important;
    color: gray !important;
}
.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 56px);
}
.bg-purple {
    background-color: #4900d5;
}
.border_bottom {
    border-bottom: 3px solid lightblue;
}
@media(max-width:576px) {
    body {
        padding-top: 0;
    }
    .fixed-top {
        position:static !important;
    }
}