body {
    margin: 0;
    padding-top: 103.2px;
}
.bg-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('../images/synthesio-0301.gif');
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 103.19px - 135.19px);
}
.logo-text {
    font-size: 0.8rem;
}
.bg-height {
    height: calc(100vh - 103.19px - 135.19px);
}
@media(max-width:993px) {

    body {
        padding-top: 0px;
        }
.fixed-top {
    position:static!important;
    }


.badge-pill {
    font-size: smaller;
}
.btn-text
{
    font-size: 8px;
}
}
