body {
    margin: 0;
    padding-top: 103.2px;
}
nav {
    box-shadow: 1px 1px 10px rgba(70, 63, 63, 0.6);  
}
nav button {
border: none!important;
}
.badge-pill {
    border-radius: 0.2rem!important;
}
h1 {
    animation: color-change 3s infinite!important;
  }
  @keyframes color-change {
    0% { color: rgb(255, 217, 0); }
    50% { color: rgb(255, 187, 0); }
    100% { color: rgb(214, 61, 0); }
    50% { color: rgb(255, 102, 0); }
  }
label {
    font-size: 1.02rem!important;
}
.navbar-toggler-icon {
width: 0;
height: 0;
background-image: none!important;
border: none!important; 
}
.navbar-brand {
flex-basis: 10%;
flex-grow: 1!important;
transition: 0.3s ease-in-out;
}
.navbar-brand:hover {
transform: scale(1.02);
}
.icon-flipped {
transform: rotate(270deg);
-moz-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-ms-transform: rotate(270deg);
}
.btn1 {
display: none!important;
position: absolute;
top: 15px;
right: 5px;
}
.material-icons {
    font-size: 4rem!important;
    position: absolute;
top: 15px;
right: 5px;
}
.another-icon {
width:  70px !important;
height: 50px !important;
font-size: 0px!important;
color: transparent!important;
} 
.logo-text {
font-size: 0.8rem;
}
.nav-link {
flex-shrink: 1!important;
flex-basis: auto;
line-height: 1rem!important;
transition: 0.3s ease-in-out;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
font-weight: 500;
}

.nav-link:hover {
transform: scale(1.07);
border-bottom: 2px solid #ff0000;
box-shadow: 5px 5px 15px rgba(214, 75, 75, 0.9);

}
.btn-hover {
transition: 0.3s ease-in-out!important;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.btn-hover:hover {
transform: scale(1.07)!important;
}
.title {
    font-size: 50px;
    font-weight: 500;
}
.input-banner {
    height: calc(100vh - 159.2px);
}
.border-checked {
    border-right: 0.1px solid gray;
}
.form-control option {
    border: 1px solid gray!important;
}
.bg-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('../images/MS\ Tech\ Sept\ 251-2.png');
background-repeat: no-repeat;
background-size: cover;
height: calc(100vh - 103.2px);
background-attachment: fixed;
}
.fullscreen-bg__video {
object-fit: cover;
position: relative;
width: 100%;
height: 100%;
filter:opacity(20%);
}
.text-banner {
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-60%);
bottom: auto;
}
.bg-image h1 {
font-size: 80px;
width: 95%;
}
.pointer {
cursor: pointer;  
}
.cards {
width: 33%;
display: inline-block;
} 
.logo {
width: 60px!important;
}
.card {
border-radius: 1rem!important;
border: none!important;
display: inline-block;
width: 100%!important;
transition: 1.5s ease;
cursor: pointer;
box-shadow: 5px 5px 15px rgba(109, 94, 7, 0.863);

}
.card:hover {
transform: scale(1.08);
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.card-body {
border-bottom-left-radius: 1rem!important;
border-bottom-right-radius: 1rem!important;
}
.card-img, .card-img-top {
border-top-left-radius: calc(1rem - 1px)!important;
border-top-right-radius: calc(1rem - 1px)!important;
}
.card-text, 
.card-title {
line-height: 1.1rem;
}
.card-img-top {
width: 100%;
height: 200px!important;
}
.card-text {
font-size: 0.8rem;
font-weight: 500;
}
.input-checkbox {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
.input-projects {
    background-color: rgb(202, 29, 29)!important;
    color: black!important;
    }
#navBar {
width: 0px;
height: 100%;
position:fixed;
background-color: black;
color:white;
top: 0;
left:0;
padding: 70px 20px;
display: flex;
flex-direction: column;
z-index: 1;
display: none;
}
.nav-items {
padding-inline-start: 0;
}
.nav-items > li {
list-style-type: none;
margin-bottom: 10px;
text-align: left;
font-size: 16px;
color: white;
text-decoration: none!important;
}
.nav-items a {
text-decoration: none;
font-size: 16px;
color: #818181;
display: block;
transition: 0.3s;
}
.nav-items a:hover {
color: white;
transform: scale(1.01);
text-decoration: none;
}
#sliderBtn {
position: absolute;
top: 10px;
right: 10px;
display: none;
z-index: 1;

}
#sliderBtn:hover {
cursor: pointer;
}
#closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
padding-top: 15px;
z-index: 3;
color: white;
}
#closebtn:hover {
color: white;
transform: scale(1.01);
z-index: 3;
}

@media(max-width:1369px) {
    .btn-hover,
    .nav-link {
font-size: 0.75rem!important;     
transition: 0.3s ease-in-out;;
}
.nav-link:hover {
transform: scaleY(1.07);
font-weight: 500!important;
    }
}
@media(max-width:1289px) {
.nav-link {
font-size: 0.7rem!important;  
transition: 0.15s ease-in-out;
}
.nav-link:hover {
transform: scale(1.09);
font-weight: 500!important;
}
.btn-hover {
font-size: 0.95rem!important;
}
}
@media(max-width:1265px) { 
.nav-link {
font-size: 0.7rem!important;
transition: 0.3s ease-in-out;
}
.nav-link:hover {
transform: scale(1.07);
font-weight: 500!important;
}
.btn-hover {
font-size: 0.9rem
}
.btn-hover:hover {
transform: scale(1.08);
font-size: 0.92rem!important;
font-weight: 500!important;
}
}
@media(max-width:1193px) {
.nav-link {
font-size: 0.55rem!important;
transition: 0.3s ease-in-out;
font-weight: 700!important;
                        }
.nav-link:hover {
transform: scale(1.07);
}
.btn-hover {
font-size: 0.78rem!important;
}
}
@media(max-width:1046px) {
.nav-link {
font-size: 0.52rem!important;
transition: 0.3s ease-in-out;
                            }
.nav-link:hover {
transform: scale(1.07);
font-weight: 500!important;
}
.btn-hover {
font-size: 0.75rem!important;
}
.btn-hover:hover {
transform: scale(1.08)!important;
font-size: 0.7rem!important;
font-weight: 500!important;
}
}
@media(max-width:1025px) {
.nav-link {
font-size: 0.5rem!important;
transition: 0.3s ease-in-out;;
}
.nav-link:hover {
transform: scaleY(1.05);
font-size: 0.65rem!important;
font-weight: 500!important;
}
}
@media(max-width:993px) {
.badge-pill {
border-radius: 10rem!important;
background-color: rgb(43, 36, 36);
color: white!important;
text-align: center;
}
.border-checked {
    border-left: none!important;
    border-bottom: 0.1px solid gray;
}
.bg-warning {
background-color: rgb(139, 116, 12);
}
.cards {
width: 49.50%
}

body {
padding-top: 0px;
}
.fixed-top {
position:static!important;
}
.bg-image {
background-attachment: scroll;
}
.bg-image h1 {
font-size: 60px; 
}
.nav-link {
font-size: 0.62rem!important;
}
.nav-link:hover {
    transform: scale(1.18);
font-weight: 500!important;
text-align: center;
}
label {
font-size: 0.75rem;
}
.cards {
width: 49.50%
}
}
@media(max-width:767.6px) {
#navBar {
width: 100%;
display: inline-block;
transform: translateX(-1000px);
transition: transform 1.5s;
}
#navBar.open {
transform: translateX(0);
}
#sliderBtn {
display: inline-block;
z-index: 2;
}
.navbar-collapse,
.navbar-toggler,
.navbar-toggler-icon {
display: none;
}
.btn1 {
display: inline-block!important;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.cards {
width: 70%;
}
}
@media (min-width: 428px) and (max-width: 575.5px) {
.cards {
width: 80%;
}
}
@media(max-width:428px) {
.bg-image h1 {
  font-size: 50px;
}
.cards {
width: 100%;
}
label {
font-size: 1rem!important;
}
footer {
font-size: 0.85rem!important;
}
} 
@media(max-width:376px) {
label,
footer {
font-size: 0.7rem!important;
}
}
@media(max-width:321px) {
label,
footer {
font-size: 0.7rem!important;
}
.cards {
width: 100%;
}
} 