body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: white;
}
/* 
main css styles */
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: 200px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.width-40 {
  width: 35%;
}
.width-50 {
  width: 63%;
}
.button {
  text-decoration: none;
  background-color: #2487ce;
  font-weight: 500;
  padding: 7px 12px;
  transition: background-color 0.3s ease;
  display: inline-block;
  border: 1px solid #2487ce;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
}
.button:hover {
  background-color: white;
}
hr {
  width: 150px;
  margin-top: 30px;
}
hr.hr-color-blue {
  border-top: 1px solid #2196f3;
}
.inner-content {
  text-align: center;
}
p {
  color: gray;
}
.background-color-gray {
  background-color: rgb(213, 214, 216);
}
.background-color-darkbrown {
  background-color: #414a4f;
}
span {
  font-weight: 400;
}
/* bacground-image & header */
/* menu nav bar */
.background-image .menu {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 0;
  left: 0;
  right: 0;
  flex-basis: 100%;
  z-index: 1;
  background-color: transparent;
  justify-content: space-between;
}
.menu .inner {
  display: flex;

  align-items: center;
}
.menu .inner .logo {
  font-size: 1.5em;
  flex-basis: 50%;
  justify-content: flex-start;
  display: flex;
}
.menu ul,
.menu .menu_inner {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 50%;
  align-items: center;
  justify-content: flex-end;
}

.menu ul li {
  flex-basis: auto;
}
.menu ul li:not(:last-child) {
  margin-right: 30px;
}
.background-image {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("./starter-files/images/hero.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.section2-background-image {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80%;
}
.background-image p {
  color: white;
}
.section2-background-image .inner-content {
  display: flex;
  width: 40%;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background-image a {
  display: inline-block;
}
.background-image h1,
.background-image p {
  margin-bottom: 20px;
  color: white;
}
.background-image h1 {
  font-weight: 900;
}
/* box-div1 _________________________________________________*/
.box-div1 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.box-div1 .inner {
  justify-content: space-between;
}
/* box-div2 _________________________________________________*/

.box-div2 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-div2 .inner {
  display: flex;
}
.box-div2 .box-wraper {
  display: flex;
  margin-right: -10px;
  flex-wrap: wrap;
}
.box-div2 .box-wraper .box-item-40 {
  display: flex;
  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
}
.box-div2 .box-wraper .box-item-60 {
  display: flex;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
}
.box-div2 .box-wraper .item-inner {
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 10px;
}
/* .box-div3 ___________________________________________________________*/
.box-div3 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-div3 .inner-content {
  margin-bottom: 30px;
  text-align: center;
}
.box-div3 .inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.box-div3 .box-wraper {
  display: flex;
  margin-right: -15px;
}
.box-div3 .box-wraper .box-item {
  flex-basis: 33.3333%;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
}
.box-div3 .box-wraper .item-inner {
  padding: 15px;
  margin-right: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.box-div3 .box-wraper .item-inner i {
  color: #2196f3;
  font-size: 30px;
}
.box-div3 .inner-content1 {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.box-div3 .inner-content1 form {
  flex-basis: 100%;
  margin-top: 20px;
}
.box-div3 .inner-content1 form input {
  width: 60%;
  height: 30px;
  color: gray;
}
.box-div3 .inner-content .button {
  flex-basis: 30%;
}
.box-div4 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-div4 p span {
  font-weight: 900;
  color: white;
}
.box-div4 .inner-content i {
  font-size: 40px;
  padding: 10px;
}
/* responsive for tablet _______________________________________*/
@media (max-width: 768px) {
  .box-div2 .box-wraper {
    flex-direction: column;
  }
  .box-div3 .box-wraper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .box-div3 .box-wraper .box-item {
    flex-basis: 60%;
  }
  .box-div3 .box-wraper .box-item .item-inner {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .box-div3 .inner-content1 {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .box-div3 .inner-content1 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-div3 .inner-content1 form input {
    margin-bottom: 10px;
    height: 30px;
    color: gray;
  }
  .box-div3 .inner-content1 .form .button {
    display: block;
    flex-basis: 50%;
    margin-top: 20px;
    margin: 0 auto;
    width: 300px;
  }
  .box-div4 .inner .inner-content {
    flex-wrap: wrap;
  }
}
/* responsive for mobile */
@media (max-width: 425px) {
  .box-div1,
  .box-div2,
  .box-div3,
  .box-div4,
  .background-image {
    height: fit-content;
  }
  header {
    padding-top: 0;
  }
  header .inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header .inner .logo {
    flex-basis: 100%;
  }
  header .inner .menu_inner {
    flex-basis: 100%;
  }
}
