body {
    margin: 0;
    box-sizing: border-box;
}
input, .input-register 
{
   border-left: none!important;
   border-right: none!important;
   border-top: none!important;
   border-bottom: 7px solid black!important;
}
.bg-image-register {
    background-image: url('../images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bg-image-login {
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bg-image-dashboard {
    background-image: url('../images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 84px)!important;
    /* height: calc(100vh - 180px); */
}
.bg-image-create {
    background-image: url('../images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 84px);
}
.bg-image-applicants {
    background-image: url('../images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 84px);
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px !important;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    color: #0F0538;
}
.rounded-circle {
    border-radius: 50% !important;
}
.border-rounded-circle {
    border: 7px solid white;
}
.img-position {
    margin-top: -80px !important;
}
.myDIV {
     margin-bottom: 70px!important;
     margin-top: 70px!important;
}
.skills-checkboxes {
    margin:5px;
    padding:5px;
    height: 250px;
    overflow-y: scroll;
    text-align:justify;
    -ms-overflow-style: none!important;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.dropdown-toggle::after {
    vertical-align: -0.745em!important;
}
.half-circle {
    width: 90px;
    height: 45px; /* as the half of the width */
    background-color: #48695c;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border-bottom: 0;
}
/* width */
div.scroll {
    margin:5px;
    padding:5px;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    text-align:justify;
    -ms-overflow-style: none!important;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
div.scroll::-webkit-scrollbar {
    display: none;
}
.example {
   -ms-overflow-style: none;  
   scrollbar-width: none;  
}	
.scroll-hiden {
    overflow: hidden;
    position: relative;
}
.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: #dd7f1e;
    cursor: pointer;
    text-align: right;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
        display: block;       
}

.hideButtons {
    display: none!important;
    cursor: pointer!important;
}
      
.myDIV:hover .hideButtons {
    display: block!important;
    cursor: pointer!important;
}
.academy-font-size {
    font-size: 12px;
}
.arrow {
    width: 70px;
    height: 70px;
}

.bg-color-dark-green {
    background-color: #48695c!important;
}
.bg-color-dark-red {
    background-color: #ff5757!important;
}
.bg-color-dark-grey {
    background-color: #949d99!important;
}
.color-dark-grey {
    color: #949d99!important;
}
.bg-color-dark-black {
    background-color: #000000!important;
}
.color-dark-black {
    color: #000000!important;
}
.bg-color-dark-light {
    background-color: #f6f6f6!important;
}
.color-dark-light {
    color: #f6f6f6!important;
}
.color-dark-red {
    color: #ff5757!important;
}
.color-dark-green {
    color: #48695c!important;
}
.bg-color-dark-yellow {
    background-color: #dd7f1e!important;
}
.color-dark-yelow {
    color: #dd7f1e!important;
}
.nav-item,
.navbar-brand {
    font-size: 30px!important;
}
.dropdown {
    color: white;
 }
.dropdown:hover {
    color: #48695c;
    cursor: pointer!important;
}
.navbar-bottom-collor-dark-yellow {
    border-bottom: 5px solid #dd7f1e;
}
.jumbotron {
    border-top-left-radius: 15px!important;  /* 100px of height + 10px of border */
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}
.align-left-part-jumbotron {
    box-sizing: border-box;
}
.applicant-position {
    margin-top: -30px !important;
}
.btn-inline-block {
    display: inline-block!important;
}

 .scroll-x {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 70px!important;
} 
.scroll-x:hover {
 overflow-x: scroll!important;
}
.scroll-x .card {
  max-width: 31%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  border-top-left-radius: 25px!important;  /* 100px of height + 10px of border */
  border-top-right-radius: 25px!important;
  border-bottom-right-radius: 25px!important;
  border-bottom-left-radius: 25px!important;
}
.card-body .card-text {
    overflow: auto !important;
    overflow-y: scroll !important;
    overflow-y: hidden!important;
    height: 100px;
    word-break: break-all!important;
  }
  .card > img {
    margin-bottom: .75rem;
    width: 100%;
  }
  
.card-text {
 font-size: 85%;
}
.square {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-top-left-radius: 15px!important;  /* 100px of height + 10px of border */
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}
.height-user-show {
    height: calc(100vh - 84px);
}
.height-50 {
    height: 50%;
}
.scroll-applicant {
    overflow: auto !important;
    overflow-y: scroll !important;
    overflow-y: hidden!important;
    height: 200px;
}
.scroll-applicant:hover {
    overflow-y: scroll!important;
}
.badge img {
    position: absolute;
    left: 841px;
    bottom: -2px;
}
textarea {
    border: none!important;
}
.custom-checkbox {
    width: 130px;
    height: 130px;
    cursor: pointer;
}
.custom-checkbox .checkmark {
    width: 100%;
    height: 100%;
    /* border: 2px solid #48695c; */
    display: inline-block;
    border-top-left-radius: 15px!important;  /* 100px of height + 10px of border */
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    font-size: 12px;
    background-color: white;
    transition: background-color 0.5 ease;
}
.custom-checkbox input:checked + .checkmark {
    background-color: #48695c!important;
    color: white;
}
.custom-checkbox input {
    display: none;
}
.bg-grey-light {
   background-color: #f6f6f6; 
}
textarea {
    overflow-y: hidden!important;
}
